* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: darkcyan 2px solid;
}

.box {
    width: 100px;
    height: 100px;
    border: black 5px solid;
    background-color: orangered;
}

.flex{
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-colum {
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

